<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Automata</title>
    <script src="/static/automata.js"></script>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <h1>Bienvenido a mi automata</h1>
    <br>
        <label>Ingrese la cadena a evaluar</label>
        <input type="text" id="st" name="st">
        <input type="button" value="Validar" onclick="automata(document.getElementById('st').value)">
    <div id="result"></div>
    <div id="explanation"></div>
    <div id="route"></div>
</body>
</html>